<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="__ROOT__/static/bootstrap/css/bootstrap.css">
    <script src="__ROOT__/static/bootstrap/js/bootstrap.js"></script>
    <title>登陆</title>
</head>
<body>
<div class="panel panel-default" style="margin:100px 450px">
    <div class="panel pane-heading" style="text-align: center;background-color: #2aabd2">
        <h2>欢迎使用停车管理登陆系统</h2>
    </div>
    <div class="panel panel-body" style="margin:20px 75px">
        <form action="{:url('login/save')}" method="post">
            <div class="form-group">
                <label class="control-label">账号</label>
                <input type="text" name="user" class="form-control">
            </div>
            <div class="form-group">
                <label class="control-label">密码</label>
                <input type="password" name="pwd" class="form-control">
            </div>
            <div class="form-group">
                <input type="submit" name="submit" value="登陆" class="btn btn-primary form-control">
            </div>
        </form>
    </div>

</div>
</body>
</html>