{layout name="layout" /}
<div class="panel panel-default">
    <div class="panel panel-body">
        <form action="{:url('set/save')}" method="post" style="float:left">
            <div class="control-group" style="width: 200px">
                <label class="control-label">账号</label>
                <input type="text" name="user" id="user" class="form-control" required onchange="checkUser()"><span id="show" name="show" style="color:red"></span>
            </div>
            <div class="control-group" style="width: 200px">
                <label class="control-label">姓名</label>
                <input type="text" name="username" id="username" class="form-control" required>
            </div>
            <div class="control-group" style="width: 200px">
                <label class="control-label">权限</label>
                <select name="root" id="root" class="form-control" required>
                    <option value="" style="display:none;">请选择权限</option>
                    <option value="1">普通管理员</option>
                    <option value="2">超级管理员</option>
                </select>
            </div>
            <br>
            <input type="submit" name="submit" class="btn btn-success " value="添加">
        </form>
    </div>
</div>